body {
    background-color: rgb(236, 223, 33);
}

h1 {
    color: rgb(50, 248, 10);
    margin-left: 40px;
}

#para1 {
    text-align: center;
    color: rgb(91, 18, 228);
}


.center {
    text-align: center;
    color: red;
  }

